@import "fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    max-width: 1340px;
    margin: 0 auto;
}

main#main {
    margin: auto;
    padding: 20px;
    max-width: 1380px;
    flex: 1;
}

section.comments {
    z-index: 2;
}

h1 {
    font-family: "caviar_dreamsregular", sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
}
h2 {
    font-family: "caviar_dreamsregular", sans-serif;
    font-size: 35px;
    margin-bottom: 0.75rem;
    margin: 1rem 0;
}
h3 {
    font-family: "caviar_dreamsregular", sans-serif;
    font-size: 24px;
    margin-bottom: 0.75rem;
    margin: 1rem 0;
}
h4 {
    margin-bottom: 0.25rem;
}

img.logo {
    height: 100px;
}

img.bw-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img.imageGallery {
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 10px;
}

ul {
    max-width: 1340px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-template-rows: auto;
    gap: 0 2%;
    margin-bottom: 4rem;
}
li.imageList,
li.comments {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 10px;
    font-weight: bolder;
    transition: transform 0.2s;
    border-radius: 4px;
}
.comment {
    font-family: robotoitalic, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
}

li.imageList:hover {
    transform: scale(1.02);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

form {
    background-color: #eeeeee;
    padding: 1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 4% 2%;
    border-radius: 4px;
}

form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input {
    border: none;
    border-bottom: #000 1px solid;
    background-color: transparent;
    font-size: 1rem;
    padding: 0.25rem 0;
    font-family: inherit;
}
form input:focus-visible {
    outline: none;
    border-bottom: #8f8f8f 1px solid;
    caret-color: #8f8f8f;
}
form label {
    font-size: 0.75rem;
    font-weight: 600;
}

form button {
    background-color: #000;
    color: #0e7c7c;
    font-family: inherit;
    padding: 5px 20px;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 20px;
}

section {
    position: relative;
}
div.popup {
    padding: 4rem;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    inset: 0;
    z-index: 1;
    overflow-y: scroll;
}
div.popup .infos {
    margin: 0 auto;
    max-width: 1380px;
    display: grid;
    grid-template-columns: repeat(2, minmax(16rem, 1fr));
    grid-template-rows: auto;
    gap: 4% 2%;
}

.popup img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.popup .closeButton {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid rgba(0, 0, 0, 1);
    font-size: 2rem;
    margin-bottom: 2rem;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.popup .mobileButton {
    display: none;
}

.loadMore {
    display: flex;
    justify-content: center;
}

/* btn style  */
.btn-style,
.inputfile + label {
    text-align: center;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0.5rem 2rem;
    border: 1px solid #000;
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255);
    color: #000;
    transition: transform 0.2s;
    margin: 1rem 0;
    height: 40px;
    line-height: 1.25rem;
}

.btn-style:hover,
.btn-style:focus,
.inputfile:focus + label,
.inputfile + label:hover {
    outline: none;
    cursor: pointer;
    background-color: #000;
    color: #ffffff;
    -webkit-transform: translateY(-0.125rem);
    transform: translateY(-0.125rem);
}

.delete {
    margin-left: auto;
    display: block;
}
button.deleteIcon {
    height: 20px;
    padding: 1rem;
    background-image: url("../assets/bin.svg");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    border: 0.5rem solid #fff;
}
button.deleteIcon:hover {
    background-image: url("../assets/bin_white.svg");
    border: 0.5rem solid #000;
}
/* style input file*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 1300px) {
    form.uploadForm {
        grid-template-columns: repeat(3, minmax(14rem, 1fr));
    }
}
@media screen and (max-width: 992px) {
    form.uploadForm {
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    }
    div.popup .infos {
        grid-template-columns: repeat(1, minmax(16rem, 1fr));
        grid-template-rows: auto;
        gap: 0%;
    }
    /* button {
        margin: 1rem 0;
    } */
    .popup .mobileButton {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        top: 5rem;
        left: 5rem;
        z-index: 2;
    }
    .popup .desktopButton {
        display: none;
    }
    .inputfile + label {
        margin: 1rem 0;
    }
}
@media screen and (max-width: 768px) {
    div.popup {
        display: block;
        padding: 2rem;
        gap: 0;
    }
    .inputDescription {
        grid-column: 1/-1;
    }
    .popup img {
        width: 100%;
    }
    .popup .mobileButton {
        top: 3rem;
        left: 3rem;
    }
    .popup .desktopButton {
        display: none;
    }
    ul {
        gap: 0 3%;
    }
}
@media screen and (max-width: 576px) {
    img.logo {
        width: 100%;
        height: auto;
    }
    form {
        grid-template-rows: auto;
        gap: 0.5rem;
    }

    form div {
        display: flex;
        flex-direction: column;
    }

    img.imageGallery {
        width: 100%;
    }

    div.popup {
        display: block;
        padding: 2rem;
        gap: 0;
    }
    .popup .mobileButton {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
        font-size: 1.5rem;
    }
    .popup .desktopButton {
        display: none;
    }
    .popup img {
        width: 100%;
    }
    .btn-style,
    .inputfile + label {
        margin: 0.25rem 0;
    }
    .delete {
        margin: 1rem 0 1em auto;
        /* margin-left: auto; */
        display: block;
    }
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(28, 28, 39);
    }
} */
